.clients-list {
    display: flex;
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}

.clients-link {
    @extend %center-flex;

    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    @include transitioned(border-color);

    &:hover,
    &:focus {
        border-color: $accentColor;
    }
}

.clients-logo {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;

    @include transitioned(fill);

    .clients-link:hover &,
    .clients-link:focus & {
        fill: $accentColor;
    }
}