.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #2F303A;
}

.footer__box {
    display: flex;
    align-items: baseline;
}

.contacts-box {
    margin-right: 70px;
}

.footer__logo {
    color: $primaryWhiteColor;
}

.contacts-box__list {
    margin-top: 20px;

    line-height: 1.71;
}
.contacts-box__item:not(:last-child) {
    margin-bottom: 9px;
}

.contacts-box__link {
    font-style: normal;
    text-decoration: none;

    color: rgba(255, 255, 255, 0.6);

    @include transitioned(color);

    &--white {
        color: $primaryWhiteColor;
    }

    &:hover, &focus {
        color: $accentColor;
    }     
}
.footer__text,
.footer__text {
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    color: $primaryWhiteColor;
    text-transform: uppercase;
}

.footer__subs {
    margin-left: auto;
}
.subs__form {
    display: flex;
}

.subs__input {
    margin-right: 12px;
    padding-left: 16px;
    width: 358px;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    font-size: 16px;
    line-height: 1.25;
    color: $primaryWhiteColor;
    background-color: transparent;

    @include transitioned(border-color);

    &:hover,
    &:focus {
        border-color: $accentColor;
    }
}
.subs__btn {
    @extend %center-flex;

    @include transitioned(background-color);

    &:hover, &:focus {
        background-color: #188CE8;
        }
}
.subs__text {
    margin-right: 10px;
}