$primaryWhiteColor: #ffffff;
$titleColor: #212121;
$textColor: #757575;
$accentColor: #2196F3;
$bgrColor: #F5F4FA;

$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;

        

    
        